<!doctype html>
<html lang="{{ $.Site.Language.Lang }}">
  {{ partial "head" . }}
  <body class="sans-serif">

    {{ block "header" . }}{{ partial "nav" . }}{{end}}

    {{ block "main" . }}{{ end }}

    {{ block "footer" . }}{{ partial "footer" . }}{{end}}

    {{ $script := .Site.Data.webpack.main }}
    {{ with $script.js }}
      <script src="{{ relURL . }}"></script>
    {{ end }}
    <div class="container">
      <div class="row mt-3">
          <div class="col pt-3 mkd">
              {{ .Content }}
          </div>
      </div>
      {{ partial "blog/meta.html" . }}
      {{ partial "blog/nextprev.html" . }}
      {{ partial "blog/comments.html" . }}
      {{ partial "blog/related.html" . }}
    </div>
  </body>
</html>
