{{ define "main" }}

  <div class="mw6 center ph3 pv4">
    <h1 class="f2 lh-title b mb3">{{.Title}}</h1>
    <div class="flex justify-between grey-3">
      <p>{{ .Date.Format "Mon, Jan 2, 2006" }}</p>
      <p>Read in {{ .ReadingTime }} minutes</p>
    </div>
    <div class="cms mw6">
      <p>{{ .Description }}</p>
      {{ if .Params.image }}<img src="{{ .Params.image }}" alt="{{ .Title }}" />{{ end }}
      {{ .Content }}
      <div class="container">
  <div class="row mt-3">
      <div class="col pt-3 mkd">
          {{ .Content }}
      </div>
  </div>
  {{ partial "blog/meta.html" . }}
  {{ partial "blog/nextprev.html" . }}
  {{ partial "blog/comments.html" . }}
  {{ partial "blog/related.html" . }}
</div>
    </div>
  </div>
{{ end }}
